Lost penguin

Ontdek en verken de ijs-wereld van Lost Penguin
______________________
Stap in een wereld...
Een grote wereld...
Haast oneindig groot...
En speel volgens het verhaal, en ontsnap naar huis of speel tegen andere
spelers via online-spelen.

---Level descripties---
Level 1 - Verken(.:Medium:.)
Level 2 - Ontdek(.:Easy:.) 
Level 3 - Ontwijk(.:Hard:.) + 2 gems combinatie + gevecht(raak vijand 4 keer, als je terugflitst. Heb je hem geraakt)
Level 4 - Vlieg(.:Leuk:.) + 3 gems combinatie

---Secrets---
Cheats - Krijg alle Orbs
NO-CD op pc zetten - Zoek de geheime knop in het menu

---Systeem benodigheden---
Intel pentium III en hoger
10 MB vrije schijfruimte
DirectX8.1
Compatibele geluidskaart
Toetsenbord
CD/DvD schijf
---Controls---
Pijltjestoetsen om te bewegen.
In de online-penguin choose kamer kan je met de pijltjes je penguin kiezen.

---Werelden---
Verhaal-wereld: Speel en beleef het verhaal van de 15 jarige penguin Jeffery. Ontsnap de grot. In 3 Kamers.
Online-wereld: Kies je penguin, of het nou een groene is, of een blauwe. Het maakt niet uit! Speel met de andere spelers iets leuks. Speel even daar in de speelautomaten te gekke spelletjes tegen andere of alleen. Of praat even met de penguins. Plezier in 2 kamers.

---Veelgestelde vragen door beta testers---
V: Ik tik de 2de cd key in, maar hij zegt dat die niet klopt?
A: Let op bij het verschil van I en 1.

V: Hoe start ik die online mode op?
A: Als je gewoon het spel start op verhaal mode als je nu doet, krijg je een vraag of je online wilt beginnen of niet.

V: Hoe werkt de cd key?
A: Wel je krijgt een scherm met "Tik registratiecode in: XXXX-XXXX-XXXX-XXXX al die X'jes moet je vervangen door de CD Key op het hoesje. Deze info staat ook op het eerste laadscherm.

V: Ik steek de cd in. Start hem op. Maar geeft een fout, waarom?
A: De beta moet je extracten, maar het is best voor ons nu een installer te maken ;). Bedankt voor het reporteren van deze bug :).

V: Ik start de exe op. Maar het spel geeft een fout van graphics en sound ofzoiets.
A: Je hebt misschien directX9.0C nodig of nVidia of geluidskaart. Ik zal dit in een apart hoofdstuk zetten. Ook bedankt voor stellen van deze benodigheden :). EN ik zet deze informatie ook in een leesmij file. Als de exe dan dus niet opstart. Hoef je maar in de readme te kijken. Ik denk dat je gewoon een nieuwe pc hebt. Kan zijn dat je nog niet alles hebt. 

---(c)redits---
Graphic editor - Tiptodog, penguins by Gage Interactive
Music - GM resource pack: Losing Regilon (Midi)
Idea - Miniclip(www.miniclip.com), Jakkie22
Beta testers - Fix69, Jakkie22 , Corley , Rappybas , Nickienator
(c) Tiptodog Productions & Gage Interactive